:root {
    --primary: #1e463b;
    --secondary: #3c806d;
    --muda: #e2ede9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", "sans-Serif";
    background-color: var(--muda);
    color: var(--primary);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-checkout {
    font-size: 30px;
    font-weight: 500;
    padding-top: 25px;
    text-align: left;
}

header hr {
    position: absolute;
    color: var(--primary);
    width: 90%;
    top: 70px;
}