html {
  scroll-behavior: smooth;
}

/*manual button next*/
.slide img {
  width: 100%;
  height: fit-content;
  padding-top: 60px;
}

.manual-buttons {
  text-align: center;
  margin-top: 20px;
}

.prev-button {
  left: 10px;
  position: fixed;
  z-index: 500;
}

.next-button {
  right: 10px;
  position: fixed;
  z-index: 500;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  z-index: 9999;
  background-color: #a19f9f;
}

.prev-button:hover,
.next-button:hover {
  background-color: #ddd;
}

/* ======================== */
/* shopping cart start*/
/* ======================== */
.shopping {
  position: relative;
  text-align: right;
}

.shopping h1 {
  font-size: 30px;
  text-align: center;
}

.shopping img {
  margin-right: 30px;
  padding: 10px;
  cursor: pointer;
}

.shopping span {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  color: white;
  position: absolute;
  right: 33px;
  top: 95px;
  font-size: 10px;
  padding: 1px;
}

.card {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: #add6cb;
  border-left: 2px solid #153a30;
  height: 100vh;
  transition: 0.5s;
  z-index: 9999;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
  justify-items: left;
  padding-left: 30px;
}

.card h1 {
  color: var(--primary);
  margin: 0;
  padding-top: 95px;
  padding-left: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.card .checkout {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card .checkout div {
  background-color: #266951;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  color: #add6cb;
}

.card .checkout div:nth-child(2) {
  background-color: #12201d;
  color: var(--muda);
  font-weight: 300;
}

.active .card {
  left: calc(100% - 500px);
}

.active .container-shopping {
  transform: translateX(-200px);
}

.checkout .closeShopping {
  border: 2px solid #153a30;
}

.checkout .total {
  border-top: 2px solid #153a30;
}

.card .list {
  max-height: 30rem;
  overflow: auto;
}

.card .list img {
  width: auto;
  height: 2rem;
  padding-right: 5px;
}
/* ================== */
/* shopping cart end */
/* ================== */

/*products*/
.products {
  padding: 30px;
  text-align: center;
}

/* category */
.categories-container a {
  padding: 30px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #333;
  transition: color 0.1s, border-bottom 0.1s;
}

.categories-container a:hover {
  color: #246326;
  border-bottom: 2px solid #246326;
  font-weight: bold;
}

.categories-container a.active {
  color: #246326;
  border-bottom: 2px solid #246326;
  font-weight: bold;
}

/* Product Style */
.menu-items {
  display: inline-block;
  width: 250px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #bed1cc;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.menu-items img {
  max-width: 100%;
  height: 14rem;
  border-radius: 7px;
}
.menu-items:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .menu-items {
    width: 100%; /* Setiap produk memenuhi lebar penuh pada layar kecil */
    margin-right: 10px;
  }
}

/* Style untuk tombol "Add to Cart" */
.add-to-cart-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
  width: 218px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #1e463b;
  font-family: "Poppins";
}

.add-to-cart-button:hover {
  background-color: #299c80;
}

button i {
  padding-right: 8px;
}

/* CSS for Cart Item Count */
#cart {
  position: relative;
}

#cart-item-count {
  position: absolute;
  top: 5px; /* Adjust the vertical position as needed to make it closer to the top */
  right: 5px; /* Adjust the horizontal position as needed to make it closer to the right */
  background-color: #ff5733; /* Background color of the count badge (red) */
  color: white; /* Text color of the count badge (white) */
  font-size: 12px; /* Font size of the count badge */
  width: 20px; /* Width of the count badge */
  height: 20px; /* Height of the count badge */
  border-radius: 50%; /* Make it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
}
